<div class="bg-dark text-white mainDiv" >
  <div  style="margin-left: 35%;">
    <h2>Enquiry Form</h2>
  </div>
  <div style="margin-left: 5rem; margin-top:1rem;">
    <h6>If You Have Any Queries Kindly Take a Moment To Fill Up This Form, Our Representatives Will Contact You Shortly </h6>
  </div>

  <div class="div1 " >
    <label class="labels">Name </label>
    <input class="form-control inputBox" placeholder="Enter Your Name" >

    <label class="labels">Email</label>
    <input class="form-control inputBox" placeholder="Enter Your Email">

    <label class="labels">Mobile Number</label>
    <input class="form-control inputBox" type="number" placeholder="Enter Your Phone Number">
    
    <label class="labels">Enquiry</label>
    <input class="form-control inputBox" placeholder="Your Query">

    <button class="form-control bg-dark text-white" style="width: 10rem;  margin-left:33rem; margin-top:1rem; border: 1px solid goldenrod; border-radius: 25px"> Submit</button>
  </div>

    
</div>