<!-- <div class="bg-dark text-white mainDiv" >
  <div  style="margin-left: 35%;">
    <h2>Enquiry Form</h2>
  </div>
  <div style="margin-left: 5rem; margin-top:1rem;">
    <h6>If You Have Any Queries Kindly Take a Moment To Fill Up This Form, Our Representatives Will Contact You Shortly </h6>
  </div>

  <div class="div1 " >
    <label class="labels">Name </label>
    <input class="form-control inputBox" placeholder="Enter Your Name" [(ngModel)]="user.name" >

    <label class="labels">Email</label>
    <input class="form-control inputBox" placeholder="Enter Your Email" [(ngModel)]="user.email">

    <label class="labels">Mobile Number</label>
    <input class="form-control inputBox" type="number" placeholder="Enter Your Phone Number" [(ngModel)]="user.mobile">
    
    <label class="labels">Query</label>
    <input class="form-control inputBox" placeholder="Your Query" [(ngModel)]="user.query">

    <button class="form-control bg-dark text-white" style="width: 10rem;  margin-left:33rem; margin-top:1rem; border: 1px solid goldenrod; border-radius: 25px" (click)="saveQuery()"> Submit</button>
  </div>

    
</div> -->

<div class="mainDiv">
  <div class="div1" id="queryForm">
      <label for="name" >Name:</label>
      <input type="text" id="name" name="name" required placeholder="Enter Your Name" [(ngModel)]="user.name">

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required placeholder="Provide Your Email" [(ngModel)]="user.email">

      <label for="mobile">Mobile:</label>
      <input type="number" id="mobile" name="mobile" required placeholder="Enter Your Mobile Number" [(ngModel)]="user.mobile">

      <label for="query"></label>
      <textarea id="message" name="message" rows="4" required placeholder="Write Your Query Here" [(ngModel)]="user.query"></textarea>

      <button type="submit" (click)="saveQuery()">Submit</button>
  </div>
</div>