<nav>
  <ul class="sidebar" [ngStyle]="{'display':sidebar?'flex':'none'}">
  <li><a (click)="toggleSidebar(false)"><i class="fa-solid fa-xmark"></i></a></li>
  <li><a>Courses</a></li>
  <li><a>Accounts </a></li>
  <li><a>SignUp/SignIn</a></li>
  
</ul>
<ul>
  <li class="logo-title"><a (click)="navigate('')"><i class="fa-solid fa-infinity logo"></i><span class="mx-2 title">IDS</span></a></li>
  <li class="hideOnMobile"><a (click)="navigate('')">Home</a></li>
  <li class="hideOnMobile"><a (click)="navigate('courses')">Courses</a></li>
  <li *ngIf="userData?.role=='admin'" class="hideOnMobile"><a (click)="navigate('admin')">Admin</a></li>
  <li class="hideOnMobile"><a (click)="navigate('login')">{{!userData?'SignUp/SignIn':'Logout'}}</a></li>
  <li><a class="menu-button" (click)="toggleSidebar(true)"><i class="fa-solid fa-bars"></i></a></li>
</ul>
</nav>
