.firstsection{
    position: relative;
    font-family: cursive;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:  0px;
    background-color: rgb(18,18,62);
    color: white;
} 

.demo-button{
background-color: #ffd700;
color: rgb(18,18,62);
font-size: 40px;
border-radius: 15px;
padding:15px;
position: absolute;
bottom: 30px;
left:10rem;

}

.welcome{
    
    font-size: 40px;
    
}
.Golden{
    color: #ffd700;
}

.leftsection{
    
    font-size: 4rem;
    
}

.rightsection{
    /* background-color: green; */
    width: 50%;
}
.rightsection img{
width: 80%;
    margin: 50px 0px;
}
.perpal{
    color: #ffd700;
}
.text-gray{
    color: gray;
}
#element{
    color: #ffd700;
}
main hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    
    margin: 40px 70px;
    width: 90%;

}

@media(max-width:800){
    .firstsection{
        display:none !important
    }
}