<section class="firstsection">
  <div class="leftsection">
    <div style="position: absolute; left:5rem; top:3rem">
      <img src="./../../../assets/All_imgaes/logo/ids_LOGOpng-removebg-preview.png" height="250px">
    </div>

    <div style="margin-top: 10rem;">
    <div class="welcome">Welcome To <span class="Golden">Infinite Digital Solutions</span></div>
      Creative Coching We
      <div> Provide our Courses</div>
      <span class="Golden" id="element"></span>

  </div>
</div>
  <div class="rightsection">
      <img src="../assets/All_imgaes/crousel_img/bg2.png" alt="background image">
</div>
</section>