<div class="mainCertificateDiv">
    <header class="Header">
        <div class="logoImage">
            <img src="../../../assets/./All_imgaes/logo/infinite_logo.png" height="90px" >
        </div>
        
    
    </header>

<h4 class="certificateOfCompletion">Certificate Of Completion </h4>


<div class="mainBody">


    <h4 class="Para">This is to certify that <b style="color: rgb(203, 164, 21);">Rohit Sharma s/o Omprakash Sharma</b> has done his internship in <b style="color: rgb(203, 164, 21);">Full Stack Web Development (MERN STACK)</b> as a <b style="color: rgb(203, 164, 21);">Full Stack Web Developer</b> at  <b  style="color: rgb(203, 164, 21);">Infinite Digital Solutions</b> from  <br>
        <b style="color: rgb(203, 164, 21);">15th May 2023</b> to <b style="color: rgb(203, 164, 21);">14th August 2023</b>.
    </h4>
    <h4 class="Para2">During his internship he has demonstrated his skills with self-motivation to learn new skills. 
        His performance <br> exceed our expectations and he was able to complete the project on timne. 
    </h4>

     <h4 class="WeWishHimAllTheBestForHisUpcomingCareer">We wish him all the best for his upcoming career</h4> 

   <!-- <h4 style="position: absolute; top:28rem; left:20rem">For Infinite Digital Solutions</h4> -->
    <h4 style="position: absolute; top:31rem; left:55rem">Authorized Signatory</h4>
</div>


<footer class="Footer">
    <h4 class="footerTitle">INFINITE DIGITAL SOLUTIONS</h4>
    <h5 class="Address">4/439 Goswami TulsiDas Marg, Pradhan Marg, Malviya Nagar, Jaipur, Rajasthan, 302017.</h5>
    <h5 class="Gmail">infinitesolutions0310@gmail.com</h5>
</footer>

</div>