<div class='warp-bg container-fluid'>

    <div class="row justify-content-center my-md-5 mb-2">
        <div class="col-xl-9">
            <div class="row justify-content-center">


                <div class='text-center my-4 '>
                    <div>
                        <h2 class='text-dark'>Push Your Life To a New Level</h2>
                    </div>
                    <div class="bar"></div>
                    <div class='fs-5'>
                        <!-- We can help you create positive and permanent changes in your life. Let’s Create Something new
                        and awesome Togeather. -->
                         We believe in Quality over Quantity,We Are Ready To Grow With you
                    </div>

                </div>
            </div>
        </div>
          <!-- ------------------cards start--------------------------- -->

          <div class="card-group row">
            <div class="col-md-3 col-sm-6 col-xs-12 card" *ngFor="let data of cardsGroup ">
                <img  class="top-card-img" src={{data.imgUrl}}  alt="notebook">
              <div class="card-body">
                <h4 class="card-title">{{data.cardTitle}}</h4>
                <p class="card-text"> {{data.cardText}}</p>
                <div class="read-more"><span>{{data.readMore}}</span></div>
              </div>
            </div>
            
          </div>

          <!-- <button class="btn">{{btnText}} <i class="bi bi-arrow-right"></i></button> -->
    </div>  
</div>