


<div class=" welcomePic" >
   </div>
   <div class=" welcome p-5">
    <h2 class="text-golden">Welcome to digitalinfinitesolutions.com</h2>
    <h5 class="text-golden">
        Here you can get solutions of every type of JavaScript, Angular, React, Node JS, MongoDB, HTML, CSS problems and also training is given on all of them, here you can clear your doubts and learn from us. Not only can you increase your skills with our quizzes and tests, along with online, you can also learn face to face by coming to our institute offline, personal training is also available with us. Completion certificate is given and 100% job assistance is provided for sure.
    </h5>
</div>



<app-cards></app-cards>

<section class="map_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="map_inner">
                    <h4 class="text-golden">Find Us on Google Map</h4>
                    <!-- <p class="text-golden">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quo beatae quasi assumenda, expedita aliquam minima tenetur maiores neque incidunt repellat aut voluptas hic dolorem sequi ab porro, quia error.</p> -->
                    <div class="map_bind">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11252.139634109426!2d75.81360866875293!3d26.853014634268753!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db7dfdcd311e7%3A0xec3398057b0ff739!2sInfinite%20Digital%20Solutions!5e0!3m2!1sen!2sin!4v1706383673391!5m2!1sen!2sin" width="2500" height="450" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



